<div id="month" class="simple-calendar">
  <header class="vis-header">
    <% range = defined?(month) ? date_range(month) : date_range() %>

    <%= link_to '&#9664;'.html_safe, group_calendar_moments_path(group, month: range[0].advance(months:-1).strftime('%m-%Y')), method: :get, remote: true %>
    
    <%= content_tag :h2, range[0].strftime('%B %Y'), title: range[0].strftime('%d %b %Y'), class: "calendar-title"  %>

    <%= link_to '&#9658;'.html_safe, group_calendar_moments_path(group, month: range[0].advance(months:1).strftime('%m-%Y')), method: :get, remote: true %>
  </header>

  <table class="table table-striped">
    <thead>
      <tr>
        <% range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: "day" do %>
              <%= content_tag :span, day.day, class: "ring#{ calendar_moments[day.day][:user_state] } #{ calendar_moments[day.day][:group_state] }" %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>