<% moment = marker[:moment] %>
<div class="marker-popup" id="popup-<%= moment.id %>">
  <h3>Datamark <span class="small"><%= moment.timestamp.strftime("%k:%M %d/%m/%Y") %><span></h3>
  <hr/> 
  <p>Coordinates: <%= moment.latitude %>, <%= moment.longitude %></p>
  <div class="hidden possible-location">
    <p class="answer">YES / NO</p>
  </div>

  <% if marker[:is_mine] %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".edit-moment-<%= moment.id %>">Edit</button>
  <% end %>

</div>
