<h3>Pavilion Cafe</h3>
<hr/> 

<%= moment.latitude %>,  <%= moment.longitude %>
<br/> identifier: <%= moment.identifier %>
<br/> state: <%= moment.state %>
<br/> timestamp: <%=  moment.timestamp %>

<%= link_to('Edit', '#') %>