<% moment = marker[:moment] %>
<div class="marker-popup" id="popup-<%= moment.id %>">
  <h3>Datamark <span class="small"><%= moment.timestamp.strftime("%k:%M %d/%m/%Y") %><span></h3>
  <hr/> 
  <p>Coordinates: <%= moment.latitude %>, <%= moment.longitude %></p>
  <div class="hidden possible-location">
    <p class="answer">YES / NO</p>
  </div>

  <%= button_to('Edit', '#', class: "edit", data: { moment: moment.id }) if marker[:is_mine] %>
</div>