<header class="page-header bg-color-1">
  <div class="container-fluid">
   <h1><%= @group.name %> / <%= pluralize @group.memberships.count, "member" %></h1>
  </div>
</header>

<div id="page-content">
  <div class="container-fluid">
   <div class="row">
      
      <%= form_for @group do |f| %>
        <%= render partial: 'form', locals: { f: f, group: @group } %>
      <% end %>
      
      <div class="col-sm-4">
      
        <h2>Members</h2>
        <ul id="members-list">
        <% for membership in @group.memberships %>
          <li>
            <%= render partial: 'memberships/form', locals: { membership: membership } %>
            <span><%= membership.user.email %></span>
          </li>
        <% end %>
        </ul>
        <h3>Add member</h3>
        <%= form_tag group_memberships_path(@group) do %>
          <%= text_field_tag :email, '', placeholder: "user@emailaddress.com" %>
          <%= submit_tag "Add user" %>
        <% end %>  
      </div>
   </div>
  </div>
</div>