<header class="page-header bg-color-1">
  <div class="container-fluid">
   <h1><%= @group.name %> / <%= pluralize @group.memberships.count, "member" %></h1>
  </div>
</header>

<div id="page-content">
  <div class="container-fluid">
   <div class="row">
      
      <%= form_for @group do |f| %>
      
        <%= render partial: 'form', locals: { f: f, group: @group } %>

      <% end %>
      
    <div class="col-sm-4">
      
      <h2>Members</h2>
      <ul id="members-list">
      <%for user in @group.users%>
      <li><%= user.email %></li>
      <%end%>
      </ul>
            
      </div>
    </div>
  </div>
</div>