<h1><%= @group.name %></h1>

<p>Description</p>

<code><%= @group.moments.inspect %></code>

<div id='map'></div>

<%= content_for :script do %>
  var map = L.map('map');
  map.setView([51.52238797921441, -0.08366235665359283], 8);

  L.tileLayer('http://a.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    maxZoom: 18, subdomains: '', }).addTo(map);

  var normalIcon = L.icon({
    iconUrl: '<%= asset_path('marker-icon.png') %>',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -27],
    shadowUrl: '<%= asset_path('marker-shadow.png') %>',
    shadowSize: [41, 41],
    shadowAnchor: [13, 41]
  });

  var markers = L.markerClusterGroup();

  <% for marker in @markers %>
    var marker = L.marker(<%= marker[:latlng] %>, {icon: normalIcon});
    marker.bindPopup('<%= marker[:popup] %>');
    markers.addLayer(marker);
  <% end %>
 
  map.addLayer(markers);
<% end %>