<div class="squares">
 <div id="intro" class="col-sm-4 height-4 no-pad">
   <div class="square-content heading">
    <div class="padding">
     <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum libero vestibulum ex feugiat, ac consequat ipsum ornare. Sed velit metus, congue dignissim risus at, sollicitudin ornare lectus.</h1>
    </div>
  </div>
</div>
<% for group in @groups %>
<div class="col-sm-2 height-2 no-pad square bg-color-4 ">
    <%= image_tag(group.image_url) unless group.image_url.blank? %>
  <div class="square-content">
   <div class="padding">
    <h2><%= group.name %></h2>
    <p><%= group.description %></p>
    <p><%= group.memberships.count %> members</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".group-<%= group.id %>">View group</button>
  </div>
  </div>
</div>
<% end %>
<!-- Placeholder Groups -->
<div class="col-sm-2 height-2 no-pad square bg-color-2">
 <img src="http://www.coldwater.org/images/images/WaterworksPark4.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-3">
 <img src="http://www.edinburghfixedgear.co.uk/wp-content/uploads/2016/03/Cycling.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-4">
 <img src="https://s-media-cache-ak0.pinimg.com/736x/c4/28/ff/c428ff5a1e939f3780b0aff6095fa516.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-2">
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-1">
 <img src="https://s-media-cache-ak0.pinimg.com/736x/c4/28/ff/c428ff5a1e939f3780b0aff6095fa516.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-3">
 <img src="http://www.edinburghfixedgear.co.uk/wp-content/uploads/2016/03/Cycling.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-4">
 <img src="http://www.coldwater.org/images/images/WaterworksPark4.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-3">
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-2">
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-3">
 <img src="http://www.edinburghfixedgear.co.uk/wp-content/uploads/2016/03/Cycling.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-2">
 <img src="http://www.coldwater.org/images/images/WaterworksPark4.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-1">
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-3">
 <img src="http://www.edinburghfixedgear.co.uk/wp-content/uploads/2016/03/Cycling.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-4">
 <img src="http://www.coldwater.org/images/images/WaterworksPark4.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-3">
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-2">
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-3">
 <img src="http://www.edinburghfixedgear.co.uk/wp-content/uploads/2016/03/Cycling.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square bg-color-2">
 <img src="http://www.coldwater.org/images/images/WaterworksPark4.jpg" />
  <div class="square-content">
   <div class="padding">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View group</a>
  </div>
  </div>
</div>

<!-- End Placeholder Groups -->

</div>


<div class="group-modals">
<% for group in @groups %>

<div class="modal fade group-<%= group.id %>" tabindex="-1" role="dialog" aria-labelledby="editGroupModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= image_tag(group.image_url) unless group.image_url.blank? %>
      <h3>Group</h3>
      <p><%= group.description %></p>
      <%= link_to 'See group data', '#', class: "btn" %>

      <% if current_user and current_user.groups.count.eql?(0) %>
        <%= button_to 'Join group', group_add_user_path(group), class: "btn" %>
      <% elsif !user_signed_in? %>
        <%= link_to 'Join group', new_user_registration_path(group: group.id), class: "btn" %>
      <% end %>

    </div>
  </div>
</div>

<% end %>
</div>