<div class="squares">
<div class="col-sm-4 height-4 no-pad">
  <div class="grids heading">
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum libero vestibulum ex feugiat, ac consequat ipsum ornare. Sed velit metus, congue dignissim risus at, sollicitudin ornare lectus.</h1>
  </div>
</div>
<% for group in @groups %>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url('<%= group.image_url %>'); ">
  <div class="grids">
   <div style="display: block">
    <h2><%= group.name %></h2>
    <p><%= group.description %></p>
    <p><%= group.memberships.count %> members</p>
    <%= link_to "view", group_path(group) %>
  </div>
  </div>
</div>
<% end %>
<!-- Placeholder Groups -->
<div class="col-sm-2 height-2 no-pad square" style="background-image: url('http://www.coldwater.org/images/images/WaterworksPark4.jpg'); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url('http://www.edinburghfixedgear.co.uk/wp-content/uploads/2016/03/Cycling.jpg'); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url('https://s-media-cache-ak0.pinimg.com/736x/c4/28/ff/c428ff5a1e939f3780b0aff6095fa516.jpg'); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url(''); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url('https://s-media-cache-ak0.pinimg.com/736x/c4/28/ff/c428ff5a1e939f3780b0aff6095fa516.jpg'); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url('http://www.edinburghfixedgear.co.uk/wp-content/uploads/2016/03/Cycling.jpg'); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url('http://www.coldwater.org/images/images/WaterworksPark4.jpg'); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url(''); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url(''); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url('http://www.edinburghfixedgear.co.uk/wp-content/uploads/2016/03/Cycling.jpg'); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url('http://www.coldwater.org/images/images/WaterworksPark4.jpg'); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<div class="col-sm-2 height-2 no-pad square" style="background-image: url(''); ">
  <div class="grids">
   <div style="display: block">
    <h2>Example Group</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit est. Phasellus congue, mi in iaculis eleifend  metus sodales.</p>
    <p>XX members</p>
   <a href="#">View</a>
  </div>
  </div>
</div>
<!-- End Placeholder Groups -->

</div>
