<h1>Hello World</h1>
<p>Snapp</p>

<ul>
<% if user_signed_in? %>
  <li>You have saved <%= current_user.moments.count %> <%= link_to 'moments.', moments_path %></li>
  <li><%= link_to('Settings', edit_user_registration_path) %></li>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
<% else %>
  <li><%= link_to('Login', new_user_session_path) %></li>
  <li><%= link_to('Register', new_user_registration_path) %></li>
<% end %>
</ul>

<ul>
<% for group in @groups %>
  <li><%= group.name %></li>
<% end %>
</ul>