<% if current_user and moment.user.eql?(current_user) and moment.has_feature.nil? %>

  <div class="hidden possible-feature">
    <%= form_for :feature, { url: moment_features_path(moment), remote: true, html: { class: "answer" } } do |f| %>
      <%= f.text_area :data %>
      <%= f.submit "Yes", class: "btn" %>
      <%= f.submit "No", class: "btn" %>      
    <% end %>
  </div>

<% elsif moment.has_feature %>
  
  <p class="feature bold"><%= "#{moment.feature.name} (#{moment.feature.ftype})" %></p>

<% end %>