<!DOCTYPE html>
<html>
  <head>
    <title>Snapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
    <header class="bs-docs-nav navbar navbar-static-top" id="top"> 
      <div class="navbar-header">
        <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> 
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar">Menu</span>
        </button>

        <a href="/" class="navbar-brand"><%= image_tag "logo.png" %> SnApp</a>
      </div> 

      <nav class="collapse navbar-collapse" id="">
       <ul class="nav navbar-nav navbar-right" style="margin-right:1em;"> 
          <% if user_signed_in? %>
            <%= content_tag(:li, link_to('Group data', group_path(current_user.groups.first))) unless current_user.groups.blank? %>
            <li><%= link_to('Account settings', edit_user_registration_path) %></li>
            <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to('Register', new_user_registration_path) %></li>
            <li><%= link_to('Sign in', new_user_session_path) %></li>
          <% end %>
       </ul>
      </nav>
    </header>
    </div>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>

  <%= javascript_tag do %>
  $(document).ready(function(){ 
    <%= yield :script %>
  });
  <% end %>
</html>